<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/poly.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script> -->
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.js"></script>
    <script src="/js/login.js"></script>
    <title>Login</title>
    <style>
        input.ng-invalid {
            color: red;
        }
        
    </style>
</head>

<body>
    <div class="col-sm-4 login" ng-app="myapp" ng-controller="myctrl">
        <form>
            <h1>Đăng nhập</h1>
            <div class="form-group ">
                <input type="text" class="form-control" placeholder="Tên đăng nhập" id="user" ng-model="user" required>
            </div>
            <div class="form-group ">
                <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="pw" required>
            </div>

            <div class="checkbox ">
                <label><input type="checkbox"> Nhớ tài khoản </label>
            </div>

            <div class="form-group ">
                <button type="submit" class="btn btn-primary form-control" ng-click="check()">
                    <b>Đăng nhập</b>
                </button>
            </div>
            <div class="row" style="text-align: center;">
                <a href="#" data-toggle="modal" data-target="#quenmk">Quên mật khẩu?</a>
            </div>
            <br>
        </form><br>

        <div class="col-sm-8 col-sm-offset-4">
            <a href="#" data-toggle="modal" data-target="#dk">Đăng kí tài khoản mới</a>
        </div>

        <!-- Modal Đk-->
        <div class="modal fade " id="dk" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form name="formdk">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Đăng kí</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Tên đăng nhập:</label><br>
                                    <input type="text" class="form-control " name="name" ng-model="st.name" required>
                                    <span ng-show="formdk.name.$invalid" style="font-size: 10px; color: red;">Vui lòng nhập vào trường này!</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Mật khẩu:</label><br>
                                    <input type="password" class="form-control " name="pass" minlength="6"
                                        maxlength="30" ng-model="st.pass">
                                    <span ng-show="formdk.pass.$invalid" style="font-size: 10px; color: red;">Password phải nhiều hơn 6 kí tự!</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Họ và tên:</label><br>
                                    <input type="text" class="form-control " name="fullname" ng-model="st.fullname">
                                    <span ng-show="formdk.fullname.$invalid" style="font-size: 10px; color: red;">Vui lòng nhập vào trường này</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Giới tính:</label><br>
                                    <div class="col-sm-6">
                                        <input type="radio" id="male" name="gender" value="Nam" ng-model="st.gender" />
                                        <label for="male">Nam</label>
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="radio" id="female" name="gender" value="Nữ" ng-model="st.gender" />
                                        <label for="female">Nữ</label>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label>Email:</label><br>
                                    <input type="email" class="form-control " name="email" ng-model="st.email">
                                    <span ng-show="formdk.email.$invalid" style="font-size: 10px; color: red;">Không đúng định dạng email!</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label>Ngày sinh:</label><br>
                                    <input type="date" class="form-control " name="birthday" name="birthday"
                                        ng-model="st.birthday">
                                    <span ng-show="formdk.birthday.$invalid" style="font-size: 10px; color: red;">Vui lòng nhập vào trường này!</span>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>Học phí:</label><br>
                                    <input type="number" class="form-control " name="schoolfee" name="schoolfee"
                                        min="2000000" ng-model="st.schoolfee">
                                    <span ng-show="formdk.schoolfee.$invalid" style="font-size: 10px; color: red;">Học phí ít nhất 2000000!</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="insert()">Đăng kí</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal quenmk-->
        <div class="modal fade" id="quenmk" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Quên mật khẩu</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group ">

                            <input type="email" class="form-control" name="email" placeholder="Nhập địa chỉ email!"
                                ng-model="e" required>
                        </div>
                        <div class="form-group ">
                            <input type="text" class="form-control" ng-model="ten"
                                placeholder="Nhập tên đăng nhập của bạn!" required>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="checkuser()">Xác nhận</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>